<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PICCIOTTO-XM</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/css/home.css">
</head>

<body>
    <h1>SERVER PICCIOTTO-XM</h1>
    <h2>en fonctionement</h2>
    <div class="box-img">
        <img src="../public/img/logo.png" alt="logo github">
    </div>
    <div class="box-portfolio"><a class="portfolio" target="blank" href="https://xavier-picciotto.com/#/">Visitez mon
            Portfolio</a></div>
    <div class="soccial">
        <a class="github" target="blank" href="https://github.com/xavierpicciotto?tab=repositories"><i
                class="fab fa-github"></i></a>
        <a class="linkedin" target="blank" href="https://www.linkedin.com/in/xavier-picciotto-developpeur-web/"><i
                class="fab fa-linkedin"></i></a>
    </div>
</body>

</html>